.step1, .step2, .step3{
    display:block;

    .title{
        justify-content: center;
        width:100%;
    }

    input {
        width: 250px;
        padding: 0.5em;
        border-radius: 2px;
        border: 1px solid #ccc;
        
    }
    select {
        width: 250px;
        padding: 0.5em;
        border-radius: 2px;
        border: 1px solid #ccc;
    }
    div:not(:last-child) {
        box-shadow: 0px 1px rgba(0,0,0, 0.05);
    }
}

.step1 > div, .step2 > div, .step3 > div{
    display:flex;
    justify-content: space-between;
    width:100%;
    padding-bottom: 25px;
    margin-bottom: 10px;
    text-align:center;

}

form > div:not(:last-child) {
    box-shadow: 0px 1px rgba(0,0,0, 0.05);
}

#divCPF, #divCNPJ {
    display:none;
}

.content--idades--in{
    display:flex;
    gap: 1em;

    input {
        width: 45px !important;
        padding: 0.2em;
    }

    margin-bottom: 15px;
    margin-top: 10px;
    > div {
        display:block;
    }
}

.content--idades{
    display:block !important;
}

#divParentescos{
    div{
        gap: 1.2em;
        display:flex;
        margin-bottom: 8px;
        box-shadow:none;

        button{
            border:none;
            padding: 0.7em;
            border-radius: 5px;
            background: #5dc979;
            color: black;

            &:hover{
                filter: brightness(80%);
            }
        }
    }
}

#showTitulares{
    ul{
        display:flex;
        max-height: 250px;
        flex-wrap: wrap;
        list-style:none;
        gap: 0.8em;
        text-align: center;
        
        button{
            border: none;
            background: rgba(0,0,0, 0.05);
            padding: 4px 6px;
            border-radius: 100%;
            font-size: 0.6em;

            &:hover{
                filter: brightness(80%);
                color: #f31a1a;
            }
        }


        span{
            margin-right: 5px;
            font-size: 1em;
        }

        li{
            
            display:block;
            div {
                box-shadow: none;
                margin-left: 5px;
                display:flex;
            }

            input{
                width: 200px;
            }
        }
    }
}

#showParentescos{

    ul{
        display:flex;
        flex-direction: column;
        max-height: 250px;
        flex-wrap: wrap;
        list-style:none;
        gap: 0.8em;
        text-align: center;
        
        button{
            border: none;
            background: rgba(0,0,0, 0.05);
            padding: 4px 6px;
            border-radius: 100%;
            font-size: 0.6em;

            &:hover{
                filter: brightness(80%);
                color: #f31a1a;
            }
        }


        span{
            margin-right: 5px;
            font-size: 0.8em;
        }

        li{
            
            display:flex;
            div {
                box-shadow: none;
                margin-left: 5px;
                display:flex;
                width: 150px;
                justify-content: space-between;
            }
        }
    }
}


.title{
    justify-content: center !important;
    width:100% !important;
}

.parentes{
    display:flex;
    flex-direction: column;
}

form{
    display:block;

    input {
        width: 250px;
        padding: 0.5em;
        border-radius: 2px;
        border: 1px solid #ccc;
        
    }
    select {
        width: 250px;
        padding: 0.5em;
        border-radius: 2px;
        border: 1px solid #ccc;
    }
    div:not(:last-child) {
        box-shadow: 0px 1px rgba(0,0,0, 0.05);
    }
}

form > div{
    display:flex;
    justify-content: space-between;
    width:100%;
    padding-bottom: 25px;
    margin-bottom: 10px;
    text-align:center;
}

.button-add-company{
    display:flex;
    justify-content: space-between;

    button{
        background: none;
        border:none;

        img{
            width: 25px;
        }
    }
}

.button-remove-company{
    display:flex;
    justify-content: space-between;
    
    button{
        
        border:none;
        margin-bottom: 12px;
        padding: 10px;
        background: none;

        img{
            width: 30px;
        }
    }

}

.companyInfos{
    display:flex;
    flex-wrap:row;
    flex-direction: column;
    flex:1;
    max-width: 100%  ;
    justify-content: center;
    align-items: center;
    gap: 1.2em;
    max-height:100%;

}


.companyInfos > div {
    display:flex;
    justify-content: space-between;
    width:100%;
    box-shadow: none !important;
}

.companyMain {
    display:flex;
    flex-direction: column;
    overflow: none;
    height: auto;
}

.info-span{
    width: 15px;
    margin-left: 5px;
    height:100%;
    text-align: center;
    justify-content: center;
    align-items:center;
    display:flex;
    img{
        width:17px;  
    }
}

.in-illness-span{
    display:flex;
    align-items: center;
    justify-content: center;
}
